- name: "Add user '{{ user_name }}' to groups {{ groups_list }}"
  ansible.builtin.user:
    name: "{{ user_name }}"
    groups: "{{ groups_list }}"
    append: yes
  vars:
    groups_list: "{{ user_groups if (user_groups is iterable) else user_groups.split('\n') }}"
  become: true
  become_user: root

