#!/bin/sh
# vim: set filetype=sh:

################################################################################
# purpose:   find first available UID in a search range, and print it to stdout
# args:      ${1}: the min_uid in the search range
#            ${2}: the max_uid in the search range
# usage:     ./find_first_avail_uid_in_range.sh min_uid max_uid
# exit code: 0 if UID found and printed, else 1
# ref:       https://www.commandlinefu.com/commands/view/5684/determine-next-available-uid
# meta:      script installed by ansible {{ role_name | basename }}
################################################################################

awk -F : -v min_uid="${1}" -v max_uid="${2}" '
  { uid[$3] = 1 }
  END {
    for (x = min_uid; x <= max_uid; x++) {
      if (uid[x] != "") { }
      else { print x; exit 0; }
    }
    exit 1;
  }
' /etc/passwd

